
@{
    ViewData["Title"] = "GroupBySalary";
}

<h1>GroupBySalary</h1>

<h1>Group By Salary</h1>
<h4>Group by Salary = @ViewBag.Salary2000</h4>
<hr />
<h4>Group by Salary = @ViewBag.Salary5000</h4>
